/* Only applies when screen is wider */
@media screen and (min-width: 640px) {

  /* Show nav always & hide hamburger */
  #hamburger {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    background: none;
    padding: 0;
    margin: 0;
  }

  nav a:hover {
    text-decoration: underline;
  }

  /* Multi-column grid for images */
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
